@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .gradiantBGcolor {
    background: linear-gradient(
      to right,
      /* #070707 0%, */
      rgba(249, 249, 249, 0) 0%
      #222527 15%,
      #01a4d5 50%,
      #222527 85%,
      /* #070707 100% */
      rgba(249, 249, 249, 0) 0%
    );
    backdrop-filter: blur(1000px);
    -webkit-backdrop-filter: blur(10px);
  }
  .lightThemegradiantBGcolor {
    background: linear-gradient(
      to right,
      rgba(249, 249, 249, 0) 0%,
      #222527 15%,
      #01a4d5 50%,
      #222527 85%,
      rgba(249, 249, 249, 0) 100%
    );
    backdrop-filter: blur(1000px);
    -webkit-backdrop-filter: blur(10px);
  }
}
:root {
  --black: #000000;
  --gray: #101518;
  --white: #ffffff;
  --ass: #cccfd4;
  --light-blue: #01a4d5;
  --dark-blue: #063c4d;
  --greenish: #54fddf;
}


html {
  scroll-behavior: smooth;
}
